@use "/styles/variables" as v;
@import "/styles/utils";

.delta {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: left;

  width: 100%;
  height: 20px;

  font-size: v.$collection-name-font-size;
  font-weight: v.$collection-name-font-weight;
}

.delta2 {
}

.green_delta {
  @extend .delta2;
  @extend .cooltextgreen;
}
.red_delta {
  @extend .delta2;
  @extend .cooltextred;
}
