@use "/styles/variables" as v;

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: calc(100vh - v.$header-h);
  width: 100%;

  background-color: v.$grey;

  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: v.$header-h;

  // width: clamp(400px, 80%, 80%);
  width: 800px;
  @media (max-width: v.$mobile) {
    width: min(100vw, v.$mobile);
  }
  min-height: calc(100vh - v.$header-h);
  background-color: rgba(124, 83, 83, 0.2);
}

.popuppage {
  @extend .page;
  position: absolute;
  //TODO: make page not scrollable, but content scrollable

  background-color: v.$lightblack;
}

.popupcontent {
  @extend .content;
  padding-top: 0; //TODO: fix this
  background-color: rgb(208, 36, 171);

  overflow-y: scroll;
  //   max-height: 800px !important;
}

.header {
  position: fixed;
  top: 0;

  width: 100%;
  height: v.$header-h;
  z-index: 100;
  background-color: rgb(255, 0, 0);
}

.headercontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: rgb(121, 90, 90);

  height: 100%;

  padding: 0 clamp(8px, 2vw, 32px);
}
