$mobile: 480px;


$header-h: 48px;
$footer-h: 48px;
$title-h: 200px;
$title-h-sm: 76px;
$edit_button_width: 24px;

$font-size-xxl: 52px;
$font-size-xl: 48px;
$font-size-l: 36px;
$font-size-m: 24px;
$font-size-s: 18px;
$font-size-xs: 14px;

$bg-color: #fff;

$text-color: #292929;
$header-color: #acacac;
$header-icon-width: 48px;

$primary-color: #15b3e4;
$primary-color-pale: #eef8fd;
$secondary-color: rgba(128, 128, 128);
$secondary-color-pale: #eee2e5;

$border-radius-m: 5px;
$border-radius-l: 10px;


$font-family-arial: "" Arial Black ", Gadget, sans-serif";

$header-label-font-size: 30px;
$header-label-font-weight: 500;
$collection_height: 70px;

$ticker-font-size: 24px;
$ticker-font-weight: 400;

$collection-name-font-size: 12px;
$collection-name-font-weight: 700;

$market-green: rgb(53,199,90);
$market-red: red;

$collection-group-name-font-weight: 600;
$collection-prices-font-weight: 900; 

