/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";

  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
