@use "/styles/variables" as v;

.icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.icon:hover:not(.active) {
  background-color: #ebe7e3;
  color: v.$text-color;
  opacity: 1;
  visibility: visible;
}

.active {
  background-color: #ebe7e3;
  color: #93918e;
  opacity: 1;
  visibility: visible;
}

.container_row {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  margin: 4px 0px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: v.$bg-color;
}
