@use "/styles/variables" as v;

.icon {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
}
.icon:hover {
  opacity: 0.5;
  cursor: pointer;

  scale: 1.1;
  cursor: pointer;
  transition: all 0.1s linear;
}

.image {
  width: v.$icon-width;
}
