@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  align-items: end;
}

.editbutton {
  cursor: pointer;

  border: 2px solid;
  border-radius: 10%;
  white-space: nowrap;
  min-width: 85px;

  border-color: v.$primary-color;
  background-color: v.$primary-color-pale;
}
  
.editbutton:hover {
  background: v.$primary-color;
}