@use "/styles/variables" as v;

.container {
  flex: 0 0 none;

  display: flex;
  align-items: flex-end;
}

.editbutton {
  cursor: pointer;

  border-radius: 2em;
  white-space: nowrap;
  min-width: 85px;
  border: 2px solid;
  padding: 2px 5px 2px;

  border-color: v.$primary-color;
  background: v.$primary-color-pale;
}

.editbutton:hover {
  opacity: 0.5;
}
