@use "/styles/variables" as v;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
}

  .empty {
    display: flex;
    flex: 100 1 auto; 
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .label {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    padding: 0px 10px;

    font-size: 40px; 
    font-weight: 700;
  }

  .circle {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    border: 3px solid;
    border-radius: 50%;

    font-size: 30px; 
    font-weight: 400;
  }