@use "/styles/variables" as v;

.app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: auto;
}

.container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

