@use "/styles/variables" as v;
$size: 72px;
$size-s: 36px;
$gap: 8px;
$gap-s: 4px;
$block-color: rgb(165, 165, 165);

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc($gap * 3);

  width: min(100vw, v.$mobile);
}

.collection_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap;
  padding: $gap;

  width: calc($size * 2 + $gap * 3);
  height: calc($size * 2 + $gap * 3);

  border-radius: v.$border-radius-xl;
  background-color: rgba($block-color, 0.1);
}

.nft_container {
  flex: 0 0 none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;
  z-index: 101;

  border-radius: v.$border-radius-l;
  background-color: rgba($block-color, 0.1);
}

.collection_preview_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap-s;

  width: $size;
  height: $size;
}

.nft_preview_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(($size - $gap-s) / 2);
  height: calc(($size - $gap-s) / 2);
  z-index: 101;

  border-radius: v.$border-radius-s;
  background-color: rgba($block-color, 0.1);
}

.img1 {
  flex: 0 0 none;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  border-radius: v.$border-radius-s;
}
