@use "/styles/variables" as v;
$size: 72px;
$size-s: 36px;
$gap: 6px;
$gap-s: 3px;
$block-color: rgb(165, 165, 165);

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: calc($gap * 3);
  row-gap: $gap;

  @media (max-width: v.$mobile) {
    width: min(100vw, v.$mobile);
  }
}

.collandname {
  flex: 0 0 none;
  display: flex;
  flex-direction: column;
  gap: $gap-s;
}

.collname {
  flex: 0 0 none;
  font-size: v.$font-size-xs;
  text-align: center;
}

.collection_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap;
  padding: $gap;

  width: calc($size * 2 + $gap * 3);
  height: calc($size * 2 + $gap * 3);

  border-radius: v.$border-radius-xl;
  background-color: rgba($block-color, 0.1);
}

.nft_container {
  flex: 0 0 none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;
  z-index: 2;

  border-radius: v.$border-radius-l;
  background-color: rgba($block-color, 0.1);
}

.collection_preview_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap-s;

  width: $size;
  height: $size;
}

.nft_preview_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(($size - $gap-s) / 2);
  height: calc(($size - $gap-s) / 2);
  z-index: 2;

  border-radius: v.$border-radius-s;
  background-color: rgba($block-color, 0.1);
}

.imgsmall {
  flex: 0 0 none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: v.$border-radius-m;
}

.imglarge {
  flex: 0 0 none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: v.$border-radius-l;
}

.imglarge_loading {
  @extend .imglarge;

  animation: fadeIn 0.5s alternate-reverse ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    background-color: rgba(v.$secondary-color, 0.5);
  }
  100% {
    background-color: v.$secondary-color-pale;
  }
}
