@use "/styles/variables" as v;
@import "/styles/utils";

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 8px;
  row-gap: 32px;
  padding: 8px;
  width: calc(100% - 2 * 8px);

  @media (max-width: v.$mobile) {
    grid-template-columns: 1fr 1fr;
  }

  .stat {
    display: grid;
    grid-template-rows: 0.75fr 0.25fr;
    place-items: center;
    height: 70px;
    gap: 8px;
    place-content: center;

    background-color: v.$secondary-color-pale;
    padding: 8px 0px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: v.$border-radius-m;

    > div {
      height: 100%;
    }

    .name {
      font-size: 14px;
    }
    .value {
      font-size: 20px;
      display: inline-block;
      height: 25px;
      text-align: center;
      justify-content: center;
      align-items: center;

      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @extend .cooltext;
    }
    .rarity {
      font-size: 12px;
      color: v.$grey;
    }
  }

  .stat2 {
    display: grid;
    grid-template-rows: 0.75fr 0.25fr 0.25fr;
    place-items: center;
    height: 70px;
    gap: 8px;
    place-content: center;

    background-color: v.$secondary-color-pale;
    padding: 8px 0px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: v.$border-radius-m;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
}
