@use "/styles/variables" as v;

.app {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  margin: auto;

  background-color: v.$bg-color;
  color: v.$text-color;

  width: 100vw;

  @media (max-width: v.$mobile) {
    width: min(100vw, v.$mobile);
  }
}

.container {
  flex: 1 1 auto;

  margin-top: v.$header-h;

  @media (max-width: v.$mobile) {
    width: min(100vw, v.$mobile);
  }
}
