@use "/styles/variables" as v;

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  text-align: center;

  width: 100%;
  height: v.$collection_height;
  position: sticky;
}

.infos {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  width: 35%;
  height: v.$collection_height;
}

.graph {
    display: flex;
    flex: 10 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    width: 50%;
    height: v.$collection_height;
}

.price {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: right;

    width: 25%;
    height: v.$collection_height;
}
