@use "/styles/variables" as v;

.icon {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  height: v.$icon-width;
  width: v.$icon-width;

  //   Not IMPLEMENTED
  opacity: 0.5;
}
.icon:hover {
  opacity: 0.5;
}
