@use "/styles/variables" as v;
$size: 72px;
$size-s: 36px;
$gap: 8px;
$gap-s: 4px;
$block-color: rgb(165, 165, 165);

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: calc($gap * 3);
  row-gap: $gap;

  @media (max-width: v.$mobile) {
    width: min(100vw, v.$mobile);
  }
}

.collandname {
  flex: 0 0 none;
  display: flex;
  flex-direction: column;
  gap: $gap-s;
}

.collname {
  flex: 0 0 none;
  font-size: v.$font-size-xs;
  text-align: center;
}

.nft_container {
  flex: 0 0 none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: calc($size * 2 + $gap * 3);
  height: calc($size * 2 + $gap * 3);

  border-radius: v.$border-radius-xl;
  background-color: rgba($block-color, 0.1);
}

.imglarge {
  flex: 0 0 none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: v.$border-radius-l;
}
