@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;

  padding: 8px;
}

.collection {
  font-weight: 500;
  font-size: v.$font-size-xs;
  color: v.$primary-color;
}

.name {
  font-weight: bold;
  font-size: v.$font-size-m;
  color: v.$text-color;
}
