@use "/styles/variables" as v;
@import "/styles/utils";

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: calc(100% - 16px);

  border-bottom: 1px solid rgba($color: v.$text-color, $alpha: 0.1);

  padding-bottom: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
  min-height: 256px;
  max-height: 350px;

  // @media (max-width: v.$mobile) {
  //   justify-content: flex-start;
  // }
}

.buttons1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.left {
  flex: 1 1 175px;
}

.center {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.right {
  flex: 1 1 175px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  gap: 8px;
}

.row {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  gap: 16px;
}
.edits {
  flex-direction: row;
  display: flex;

  margin-right: 0;
  vertical-align: bottom;

  gap: 16px;
}

.editName {
  width: 256px;

  margin: 8px 8px 8px 0;
}

.editDesc {
  width: 256px;
  margin: 8px 8px 16px 0;
}

.username {
  line-height: 28px;
  font-weight: bold;
  padding: 8px 8px 8px 0;

  font-family: Roboto-Thin;
  font-size: 36px;
}

.description {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 8px 8px 0;
}

.copied_message {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 8px 8px 0;
  animation: fade_in 0.1s linear;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #38ef7d, #11998e);
  color: black;
  font-size: 14px;
  padding: 8px;

  border-radius: 9px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  height: min-content;

  cursor: pointer;
}

.button:hover {
  background-color: black;

  transition: all 0.2s ease-in-out;
  scale: 1.1;
  cursor: pointer;
  transition: all 0.1s linear;
}

.profilepicture_container {
  flex: 0 0 auto;
}

.profilePic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
