@use "/styles/variables" as v;

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;

  border-bottom: 1px solid rgba($color: v.$text-color, $alpha: 0.1);

  // height: 160px; //For too long description
  padding: 8px;
}

.row {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;

  gap: 16px;
}
.edits {
  flex-direction: row;
  display: flex;

  margin-right: 0;
  vertical-align: bottom;

  gap: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 4px;
  height: 28px;
  background-color: v.$secondary-color-pale;
  border: 2px solid v.$bg-color;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  border: 2px solid v.$secondary-color;
  transition: all 0.2s ease-in-out;
}

.editName {
  width: 256px;

  margin: 8px 8px 8px 0;
}

.editDesc {
  width: 256px;
  margin: 8px 8px 16px 0;
}

.username {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding: 8px 8px 8px 0;
}

.description {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 8px 8px 0;
}

.copied_message {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 8px 8px 0;
  animation: fade_in 0.1s linear;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
