@use "/styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: min(150px, 250px); //For too long description
  padding: 0px 12px 0px;
  margin-top: v.$header-h;
}

.edits {
  flex-direction: row;
  display: flex;
  
  vertical-align: bottom;
  width: 100%;
  gap: 10px;
}