@use "/styles/variables" as v;

.container {
  display: flex;
  position: sticky;
  width: 100%;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.overview {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  background-color: rgb(235,231,227);
  top: 0px;
  z-index: 100;
  height: v.$overview-height
}

.viewer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    padding-top: v.$overview-height
}
