@use "/styles/variables" as v;

.graph {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    width: 180px;
    height: v.$collection_height;
}