@use "/styles/variables" as v;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  background-color: v.$bg-color;
  color: v.$text-color;
}

.rectangle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 10px;
  opacity: 0.8;
  text-align: center;
}