@use "/styles/variables" as v;

.green_delta {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: left;

    width: 100%;
    height: 20px;
    
    font-size: v.$collection-name-font-size;
    font-weight: v.$collection-name-font-weight;

    color: v.$market-green;
}

.red_delta {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: left;

    width: 100%;
    height: 20px;
    
    font-size: v.$collection-name-font-size;
    font-weight: v.$collection-name-font-weight;
    
    color: v.$market-red;
}