@use "/styles/variables" as v;
@import "/styles/utils";

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;

  align-items: center;

  justify-content: flex-start;
  gap: 16px;
  width: calc(100% - clamp(16px, 4vw, 64px));

  // margin: 8px;
  // margin-left: 32px;

  // @media (max-width: v.$mobile) {
  //   // justify-content: space-between;
  //   // margin-left: 8px;
  // }
}

.left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.right {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.collection {
  font-weight: 500;
  font-size: v.$font-size-xs;
  @extend .cooltext;
}

.name {
  font-weight: bold;
  font-size: v.$font-size-m;
  color: v.$text-color;
}
