@use "/styles/variables" as v;

.label {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 100%;

  font-size: v.$font-size-s;
  color: v.$text-color;
}

.label:hover {
  opacity: 0.5;
  scale: 1.1;
  cursor: pointer;
  transition: all 0.1s linear;
}
