@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: v.$header-h;
  font-size: v.$font-size-l;

  background: linear-gradient(
    rgba(v.$header-color, 1),
    rgba(v.$header-color, 0)
  );
}
