.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100%;
}

.chart_line {
  flex: 0 0 auto;
}

.chart_bar {
  flex: 0 0 0 auto;
  max-height: 32px;
}
