@use "/styles/variables" as v;

.container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.block {
  flex: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

  margin: 6px;
  padding: min(10%, 128px);
  background-color: v.$primary-color-pale;

  border: 2px solid v.$primary-color;
  border-radius: v.$border-radius-m;
}

.name {
  flex: none;
  font-weight: bold;
  color: v.$primary-color;
  font-size: v.$font-size-xs;
}

.rarity {
  flex: none;
  font-weight: bold;
  color: v.$secondary-color;
  font-size: v.$font-size-xs;
}
