@use "/styles/variables" as v;

.button {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: v.$hover-color;

  font-size: 24px;
  padding: 8px;
  font-family: "Roboto-Thin";
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

  cursor: pointer;
}

.button:hover {
  color: v.$hover-color;
  background-color: black;
  box-shadow: 0px 4px 24px v.$hover-color;
}
