@use "/styles/variables" as v;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container {
  flex: 0 0 none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // background-color: aqua;
}

// .box {
//   flex: 1 1 auto;

//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   border-radius: 16px;
//   background-color: v.$secondary-color-pale;
//   height: 32px;

//   color: v.$text-color;
//   text-transform: none;
//   font-size: 12px;
//   font-weight: 100 !important;
// }

.box {
  color: rgb(0, 0, 0);

  height: 24px;
}
