@use "/styles/variables" as v;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container {
  flex: 0 0 none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // background-color: aqua;
}

.box {
  padding: 0px;
  color: black;
}

.sort_button_inner {
  padding: 0px;
}

.sort_icon {
  height: 16px;
}
