@use "/styles/variables" as v;

.graph {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: left;

  max-width: 150px;
  padding: 8px 0;
  height: v.$collection_height;
}
