@use "/styles/variables" as v;

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 16px;
  padding: 16px 16px;
}

.label {
  flex: 0 0 none;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;

  font-size: v.$font-size-l;
  font-weight: 500;
}

.circle {
  flex: 0 0 none;
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border: 2px solid v.$text-color;
  border-radius: 50%;

  font-size: v.$font-size-m;
}
