@use "/styles/variables" as v;

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 130px;
  height: v.$collection_height;
  position: sticky;
}

.first_row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;

  width: 100%;
  height: 42px;
}

.second_row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    width: 100%;
    height: 21px;
  }

.logo {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    width: 42px;
    height: auto;
    
    border-radius: 50%;

    overflow: hidden;
}

.ticker {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    width: 64px;
    height: 42px;
    
    font-size: v.$ticker-font-size;
    font-weight: v.$ticker-font-weight;
}

.name {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    
    font-size: v.$collection-name-font-size;
    font-weight: v.$collection-name-font-weight;
}
