@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: center;

  height: v.$header-h;
  width: min(100vw, v.$mobile);
  font-size: v.$font-size-m;

  background: linear-gradient(
    rgba(v.$header-color, 1),
    rgba(v.$header-color, 0)
  );
  z-index: 100;
}
