@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: v.$bg-color;

  max-height: 800px;
  overflow-y: scroll;
}

.image {
  flex: 1 1 auto;
  object-fit: contain;
  width: 100%;
  max-width: 512px;
}

.toggleText {
  font-size: v.$font-size-s;
  color: v.$text-color;
}

.button {
  padding: 4px 8px;
  border-radius: 8px;
  color: #fff;
  background-color: v.$primary-color;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: white;
    box-shadow: 0 0 0 2px v.$primary-color;
    color: v.$primary-color;
    cursor: pointer;
  }

  transition: all 0.1s linear;
}
