@use "/styles/variables" as v;
@import "/styles/utils";

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background-color: v.$bg-color;
  // max-height: 800px;
  width: 100%;
}

.image {
  flex: 1 1 auto;
  object-fit: contain;
  width: 100%;
  max-width: 512px;
}

.toggleText {
  font-size: v.$font-size-s;
  color: v.$text-color;
}

.button {
  padding: 8px;
  border-radius: 8px;
  color: black;

  background-image: linear-gradient(to right, #38ef7d, #11998e);
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    cursor: pointer;
  }

  transition: all 0.1s linear;
}
