@use "/styles/variables" as v;
@import "/styles/utils";

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8px;

  background-color: v.$secondary-color-pale;

  width: 100%;

  gap: 8px;
}

.search_box {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: calc(100% - 16px - 8px);
  border-radius: v.$border-radius-m;
  background-color: v.$header-color;
  padding: 4px;

  input {
    flex: 1 1 auto;

    border: none;

    outline: none;
    margin: 4px;
    padding: 8px;
    font-size: 16px;
  }
}

.search_items {
  // position: absolute;
  display: flex;
  flex-direction: row;

  width: calc(100% - 16px);

  text-align: left;

  border-radius: v.$border-radius-m;
  background-color: v.$header-color;
  padding-top: 8px;
  padding-bottom: 8px;

  cursor: pointer;

  .search_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: auto 8px auto 8px;
    border-radius: 50%;
  }
  .test123 {
    font-size: 24px;
    font-weight: 600;
    height: min-content;
    justify-self: flex-start;
    padding-left: 8px;
    align-self: center;
  }
}
