@use "/styles/variables" as v;

.icon {
  flex: 0 0 none;
  display: flex;

  width: v.$icon-width;
}
.icon:hover {
  opacity: 0.5;

  scale: 1.1;
  cursor: pointer;

  transition: all 0.1s linear;
}

.image {
  width: v.$icon-width;
}
