@use "/styles/variables" as v;

.container {
    text-align: center;
}

.priceLive {
    display:inline-block;
    font-size: v.$font-size-xl;
    font-weight: v.$collection-prices-font-weight;
    color: black;

    flex-direction: row;
}

.currency {
    white-space: pre;
    display: inline-block;
    font-size: v.$font-size-m;
}

.delta {
    font-size: v.$font-size-m;
    font-weight: v.$collection-prices-font-weight;
    flex-direction: row;
}