@use "/styles/variables" as v;

.container {
    text-align: center;
}

.priceLive {
    display:inline-block;
    font-size: xx-large;
    font-weight: 900;
    color: black;

    flex-direction: row;
}

.currency {
    white-space: pre;
    display: inline-block;
    font-size: x-large;
}