@use "/styles/variables" as v;

.container {
  flex: 0 0 none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;

  width: 100%;
}

.timeinterval {
  height: 40px;
}

.graph {
  flex: 0 0 none;
  display: block;
  width: 100%;
  height: 360px;
  margin-bottom: 48px;
  // margin-right: -5px;
  // border: 10px solid #fff;

  width: calc(100% - 32px);
  @media (max-width: v.$mobile) {
    width: 100%;
  }
}
