@use "/styles/variables" as v;

.container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.timeinterval {
  height: 40px;
}

.graph {
  display: block;
  width: 100%;
  height: 360px;
  margin-bottom: 48px;
  // margin-right: -5px;
  // border: 10px solid #fff;
}
