@use "/styles/variables" as v;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;
  background-color: v.$bg-color;
  color: v.$text-color;
}

.wallet {
  width: 100%;
  height: 800px;
  background-color: v.$text-color;
  color: v.$bg-color;
  margin-bottom: v.$footer-h;
}

.footer {
  position: fixed;
  background-color: v.$bg-color;
  color: v.$text-color;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
}