@use "/styles/variables" as v;

.container {
  flex: 0 0 none;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  padding-left: 8px;
  // height: 100%;
  font-size: v.$font-size-m;
  color: rgb(134, 134, 134);
}
