@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: v.$font-size-l;
}
