@use "/styles/variables" as v;

.container {
  flex: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;

  width: 108px;
  height: 48px;

  margin-bottom: 8px;
  background-color: yellow;

  background-color: v.$secondary-color-pale;
  border-radius: v.$border-radius-s;
}

.price {
  flex: none;

  font-weight: bold;
  font-size: v.$font-size-s;
  color: v.$text-color;
}

.opensea {
  flex: none;
  width: 24px;
}

.eth {
  flex: none;
  height: 18px;
}

.line {
  flex: none;
  width: 1px;
  border: v.$secondary-color solid 1px;
  height: 24px;
  margin: 0px 4px;
}

.img1 {
  width: 24px;
  height: 24px;
}
