@use "/styles/variables" as v;

.container {
  flex: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  min-width: 100px;
  height: 48px;
  padding: 0px 8px;
  margin-bottom: 8px;

  background-color: v.$secondary-color-pale;
  border-radius: v.$border-radius-s;
}

.price {
  flex: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;

  font-weight: bold;
  font-size: v.$font-size-l;
  color: v.$text-color;
}

.opensea {
  flex: none;
  width: 30px;
}

.eth {
  flex: none;
  height: 24px;
}

.line {
  flex: none;
  width: 1px;
  border: v.$secondary-color solid 1px;
  height: 24px;
}
