@use "/styles/variables" as v;
@import "/styles/utils";

.icon {
  position: relative;

  border-radius: 50%;
  width: v.$font-size-xl;
  height: v.$font-size-xl;
  font-size: v.$font-size-s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.notactive {
  @extend .icon;
  background-color: white;
  color: #93918e;
}

.active {
  @extend .icon;
  @extend .cooltext;
  scale: 1.2;
}

.icon:hover:not(.active) {
  opacity: 1;
  visibility: visible;
  @extend .cooltext;
  scale: 1.1;
  cursor: pointer;
  transition: all 0.1s linear;
}

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(4px, 1vw, 16px);
}
