@use "/styles/variables" as v;

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  text-align: center;

  position: sticky;
  bottom: 0;

  height: v.$footer-h;
  width: min(100vw, v.$mobile);
  z-index: 100;
  background-color: v.$header-color;
}

.button {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: v.$header-h;
}

.icon {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
.icon:hover {
  opacity: 0.5;
}

.image {
  width: v.$icon-width;
}
