@use "/styles/variables" as v;
@import "/styles/utils";

.number {
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 50px 25px;

  gap: 8px;

  > div {
  }

  .num {
    font-size: 24px;
    justify-self: center;
    align-self: flex-end;
  }

  .change {
    font-size: 12px;
    justify-self: center;
    align-self: flex-start;
  }

  .green_delta {
    @extend .change;
    @extend .cooltextgreen;
  }
  .red_delta {
    @extend .change;
    @extend .cooltextred;
  }
}

// .delta {
//   display: flex;
//   flex: 1 1 auto;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: flex-end;
//   align-items: center;
//   text-align: left;

//   width: 100%;
//   height: 20px;

//   font-size: v.$collection-name-font-size;
//   font-weight: v.$collection-name-font-weight;
// }

// .tile2 {
//   display: grid;
//   grid-template-columns: 50px 150px;
//   grid-template-rows: 0.75fr 0.25fr;
//   grid-template-areas: "logo namee" "logo keystat";

//   gap: 8px;

//   background-color: rgb(41, 88, 190);

//   > div {
//     background-color: rgb(203, 137, 87);
//   }

//   .logo {
//     grid-area: logo;
//     place-self: center;
//   }
//   .name {
//     grid-area: namee;
//   }
//   .keystat {
//     grid-area: keystat;
//   }
// }
