@use "/styles/variables" as v;

.icon {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  height: v.$icon-width-m;
  width: v.$icon-width-m;

  //   Not IMPLEMENTED
  opacity: 0.5;
}
.icon:hover {
  opacity: 0.5;
  scale: 1.1;
  cursor: pointer;
  transition: all 0.1s linear;
}
