@use "/styles/variables" as v;

$size: 72px;
$gap: 8px;

.container {
  flex: 0 0 none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: $gap;
  width: 100%;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 8px;
  padding: 8px;
  width: calc(100% - 2 * 8px);

  .stat {
    display: grid;
    background-color: rgb(0, 255, 55);
    grid-template-rows: 0.75fr 0.25fr 0.25fr;
    place-items: center;
    height: 70px;
    gap: 8px;
    place-content: center;

    > div {
      background-color: rgb(125, 181, 137);
      //   width: min-content;
      height: 100%;
    }
  }
}
