@use "/styles/variables" as v;
@import "/styles/utils";

.container {
  text-align: center;
}

.priceLive {
  display: inline-block;
  font-size: v.$font-size-xl;
  font-weight: v.$collection-prices-font-weight;
  color: black;

  flex-direction: row;
}

.currency {
  white-space: pre;
  display: inline-block;
  font-size: v.$font-size-m;
}

.delta {
  font-size: v.$font-size-m;

  flex-direction: row;
}

.red {
  @extend .cooltextred;
}

.green {
  @extend .cooltextgreen;
}

.number {
  display: grid;
  grid-template-columns: 70px auto 70px;
  grid-template-rows: 100px 30px;
  grid-template-areas: ". num fiat" ". change .";

  gap: 8px;
  padding: 0 8px;

  .num {
    grid-area: num;
    place-self: flex-end;
    font-size: 80px;
  }
  .fiat {
    grid-area: fiat;
    justify-self: center;
    align-self: center;
  }
  .change {
    grid-area: change;
    justify-self: center;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
  }
}
