@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
}

.header {
  flex: 1 1 auto;

  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: v.$header-h;
}

.settingsTitle {
  flex: 1 1 auto;

  display: flex;
  font-size: v.$font-size-ml;
  justify-content: center;
}

.blankButton {
  width: 24px;
  background-color: black;
  padding-right: 12px;
}

.line {
  width: min(calc(100vw - 20px), calc(v.$mobile - 20px));
  border-bottom: 1px solid black;
  align-self: center;
}

.addWallet {
  display: flex;
  align-self: center;
  width: 70px;
  box-shadow: 0 0 0 2px rgba(#000, 0.05);
  border-radius: 50%;
}

.addIcon {
  width: 70px;
}

.backButton {
  padding-left: 12px;
}
