@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;
}

.menubutton {
  margin-top: 5px;
  margin-right: 5px;

  float: right;

  background: url(../../../../../public/icons/outline_more_horiz_black_24dp.png);
}

