@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 8px;

  width: min(100vw, v.$mobile);
  background-color: v.$bg-color;
}
