@use "/styles/variables" as v;

.container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: v.$bg-color;

  @media (max-width: v.$mobile) {
    width: min(100vw, v.$mobile);
  }
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 10;
  backdrop-filter: blur(4px);
  background-color: rgba(#000, 0.2);
  cursor: pointer;
}
